[user]
	name = 이창혁
	email = changhyuk.lee@riiid.co

[init]
	templatedir = ~/.git_template

[core]
	editor = vim -c 'norm! ggA ' -c 'startinsert'
	autocrlf = input

[alias]
	a = "add ."
	b = "!git branch | grep -v '^\\*'"
	bb = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
	bc = "switch -c"
	bd = "!git branch -D $(git b | fzf -m)"
	bs = "switch"
	c = "commit"
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	pl = "!git pull --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	pr = "!gh pr view -w"
	prc = "!gh pr create -w"
	pu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	puf = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\" --force"
	rb = "rebase"
	rba = "rebase --abort"
	rbc = "rebase --continue"
	st = "stash"
	sta = "stash apply"
	sq = "rebase -i"
	ts = "!tsc --watch"
	w = "!gh browse"
	ws = "!gh status"
