# api key 
export OPENAI_API_KEY=""
export ANTHROPIC_API_KEY=""
export GEMINI_API_KEY=""

## apple
export APPLE_ID=""
export APPLE_APP_SPECIFIC_PASSWORD=""
export APPLE_TEAM_ID=""

## alias
alias blog=""
alias cloud=""

